---
# Source: core-provider/templates/cdc-configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: test-core-provider-cdc-deployment
  namespace: demo-system
data:
    deployment.yaml: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: {{ .resource }}-{{ .apiVersion }}-controller
        namespace: {{ .namespace }}
        labels:
          app.kubernetes.io/name: {{ .name }}
          app.kubernetes.io/instance: {{ .resource }}-{{ .apiVersion }}
          app.kubernetes.io/component: controller
          app.kubernetes.io/part-of: krateoplatformops
          app.kubernetes.io/managed-by: krateo
      spec:
        replicas: 1
        selector:
          matchLabels:
            app.kubernetes.io/name: {{ .name }}
        template:
          metadata:
            name: {{ .name }}
            namespace: {{ .namespace }}
            labels:
              app.kubernetes.io/name: {{ .name }}
          spec:
            serviceAccountName: {{ .name }}
            securityContext:
              {}
            containers:
              - name: {{ .resource }}-{{ .apiVersion }}-controller
                image: "matteogastaldello/composition-dynamic-controller:latest"
                imagePullPolicy: IfNotPresent
                envFrom:
                  - configMapRef:
                      name: test-core-provider-cdc-configmap
                securityContext:
                  {}
                args:
                  - -debug
                  - -group={{ .apiGroup }}
                  - -version={{ .apiVersion }}
                  - -resource={{ .resource }}
                  - -namespace={{ .namespace }}
                ports:
                  - name: http
                    containerPort: 80
                    protocol: TCP
                livenessProbe:
                  null
                readinessProbe:
                  null
                resources:
                  {}