apiVersion: apps/v1
kind: Deployment
metadata:
  name: core-provider-dev
  namespace: demo-system
  labels:
    app.kubernetes.io/name: core-provider-dev
    app: core-provider-dev
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: core-provider-dev
  template:
    metadata:
      labels:
        app.kubernetes.io/name: core-provider-dev
        app: core-provider-dev
    spec:
      serviceAccountName: core-provider-dev
      containers:
      - name: core-provider-dev-container
        image: matteogastaldello/core-provider:latest
        imagePullPolicy: Always
        args:
          - --debug
        env:
          - name: CORE_PROVIDER_POLL_INTERVAL
            value: 30s
        ports:
        - containerPort: 8080
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
        - mountPath: /tmp/assets
          name: cdc-deployment
          readOnly: true
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: core-provider-webhook-service-certs
      - name: cdc-deployment
        configMap:
          name: test-core-provider-cdc-deployment